@charset "utf-8";
/* public */
*{margin: 0;padding: 0;}
body{background:#fff;color:#333;font-size:12px;font-family:"SimSun","微软雅黑","Arial Narrow";} 
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
a{font-family: "微软雅黑"}
div{font-family: "微软雅黑"}
a{text-decoration:none;cursor: pointer;} 
button, input, select, textarea { font-size:100%; }
.clear{clear: both;margin: 0;padding: 0;}
.content{width: 100%;margin: 0 auto;overflow: hidden;}
.disn{display:none;}
/* head */
.head{width: 100%;height: 40px;margin: 0 auto;background: #333333;}
.head_con{width: 1226px;height: 40px;line-height: 40px;margin: 0 auto;}
.head_l{height: 40px;line-height: 40px; float: left;}
.head_l ul li{float: left;}
.head_l ul li a{color: #b0b0b0;font-family: sans-serif;font-size: 12px;}
.head_l ul li span{margin: 0 4px;color: #424242;}
.head_l ul li a:hover{color: #fff;}
.head_r{height: 40px;line-height: 40px;float: right;}
.head_r ul li{float: right;}
.head_r ul li a{color: #b0b0b0;font-family: sans-serif;font-size: 12px;}
.head_r ul li span{margin: 0 4px;color: #424242;}
.head_r ul li a:hover{color: #fff;}
.head_shop{height: 40px; float: right;padding: 0 20px;margin-left: 15px;background: #424242;position: relative;border-bottom: 1px solid #fff;}
.head_shop a{color: #b0b0b0;font-family: sans-serif;font-size: 12px;}
.head_shop a i{line-height: 40px;margin-right: 3px;}
.head_shop:hover a{color: #ff6700;}
.head_shop:hover{background: #fff;}
.head_tip{position: absolute;z-index: 11; width: 300px;height: 100px;line-height: 100px; right: 0px;text-align: center;font-size: 12px;}
.head_tip{color: #b0b0b0;background: #fff;box-shadow: 0 0 10px #ccc;display: none;}

/* menu */
.content .menu{width: 1226px;height: 100px;margin: 0 auto;background: #fff;}
.menu_l{width: 234px;height: 100px;line-height: 100px; float: left;}
.menu_l a{display: inline-block;}
.menu_l_a1{width: 50px;height: 50px;line-height: 1;margin-top: 25px; float: left;}
.menu_l_a2{width: 144px;float: right;line-height: 1;margin-top: 20px;}
.menu_l a img{width: 100%;}
.menu_m{width: 700px;height: 100px;line-height: 100px; float: left;}
.menu_m ul li{float: left;text-align: center;padding: 0 10px;}
.menu_m ul li a{font-size: 16px;color: #333;font-family: "微软雅黑";letter-spacing: 1px;}
.menu_m ul li a:hover{color: #ff6700;}
.menu_r{width: 275px;float: right;position: relative;}
.menu_r input[type="text"]{width: 223px;height: 48px;border: 1px solid #ccc;margin-top: 25px;border-right: 0px;}
.menu_mi8{position: absolute;right: 60px;line-height: 48px;top: 26px;}
.menu_mi8 a{display: inline-block; font-size: 12px;line-height: 1; color: #757575;background: #eee;margin-left: 10px;
padding: 2px 5px;font-family: "微软雅黑"}
.menu_mi8 a:hover{background: #ff6700;color: #fff;}
.menu_search{width: 48px;height: 48px;margin-top: 25px;border: 1px solid #ccc;float: right;text-align: center;}
.menu_search i{font-size: 16px;height: 48px; line-height: 48px;color: #333;}
.menu_search:hover{background: #ff6700;}
.menu_search:hover i{color: #fff;}
.menu_nav{display: none;}
.menu_nav{position: absolute;width: 100%;height: 229px;top: 140px;left: 0;background: #fff; border-top: 1px solid #ccc;box-shadow: 0 4px 4px #ccc;z-index: 11;}
.menu_con{width: 1226px;height: 229px; margin: 0 auto;}
.menu_con > ul > li{width: 203px;float: left;padding: 0;text-align: center;border-right: 1px solid #e0e0e0;padding-bottom: 27px;}
.menu_con .menuNav_new{width: 200px; height: 21px;line-height: 1;margin: 0 auto;}
.menu_con .menuNav_new > a{display: inline-block;font-size: 12px;padding: 3px 20px; color: #ff6700;border: 1px solid #ff6700;}
.menu_con > ul > li>a{display:block;width: 160px;height: 110px;text-align: center; margin: 10px auto 18px;font-size: 12px;color: #333;}
.menu_con > ul > li a img{width: 100%;}
.menu_con .menuNav_cate{height: 20px;line-height: 20px;font-size: 12px; text-align: center;color: #333;}
.menu_con .menuNav_price{display: block; height: 20px;line-height: 20px;font-size: 12px;text-align: center;color: #ff6700;}

/* banner */
.banner{width: 1226px;height: 460px;margin: 0 auto; overflow: hidden;}
.banner_l{width: 234px;height: 460px;float: left;background: #601a13;text-align: center;position: relative;}
.banner_l_ul{padding: 20px 0;}
.banner_l_ul>li{width: 100%;height: 42px;line-height: 42px;text-align: left;}
.banner_l_ul>li:hover{background: #ff6700;}
.banner_l_ul li a{font-size: 14px;color: #fff;display: inline-block;margin-left: 30px;font-family: "微软雅黑"}
.banner_l_ul li a > i{font-size: 16px;line-height: 1; color: #fff;top: 12px;right: 30px;}
.banner_l_ul_i{position: absolute;right: 30px;}
.banner_l_nav{display: none; position: absolute;width: 990px;height: 458px;left: 234px;background: #fff;z-index: 11;top: 0px;border: 1px solid #e0e0e0;}
.banner_l_nav>ul>li{width: 245px;height: 75px;float: left;}
.banner_l_nav>ul>li>a{display: block;width: 240px;height: 72px;line-height: 72px; color: #333;}
.banner_l_nav>ul>li>a img{width: 40px;height: 40px;margin-right: 20px;}
.banner_r{background: #ccc;width: 992px; height: 460px;float: left;}
.focusBox{position:relative;width:992px;height:460px;overflow:hidden;}
.focusBox .pic{position:relative;z-index:0;}
.focusBox .pic img{width:992px;height:460px;display:block;}
.focusBox .hd{width:100%;position:absolute;bottom:10px;text-align:center;font-size:0;z-index:1;}
.focusBox .hd li{margin:0 5px;background:url(../images/dot.png) no-repeat 0 -16px;height:16px;overflow:hidden;width:16px;cursor:pointer;display:inline-block;*display:inline;zoom:1;_background:url(../images/dot8.png) no-repeat 0 -16px;}
.focusBox .hd .on{background-position:0 0;}
.focusBox .prev,.focusBox .next{width:60px;height:90px;margin:-60px 0 0;display:none;background:url(../images/ad_ctr.png) no-repeat 0 0;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;filter:alpha(opacity=20);opacity:0.2;}
.focusBox .prev{left:0;}
.focusBox .next{background-position:0 -90px;right:0;}
.focusBox .prev:hover,.focusBox .next:hover{filter:alpha(opacity=50) !important;opacity:0.5 !important;}

/* shopNew */
.shopNew{width: 1226px;height: 170px;margin: 0 auto; margin-top: 14px;margin-bottom: 14px;}
.shopNew_l{width: 234px;height: 170px;float: left;background: #5f5750;margin-right: 14px;}
.shopNew_l ul{width: 228px;height: 164px;padding: 3px;list-style: none;font-size: 12px;text-align: center;}
.shopNew_l ul li{width: 71px;height: 82px;padding: 0 2px;float: left;border-right: 1px solid #665e57}
.shopNew_l ul li:nth-child(3n){border-right: 0px;}
.shopNew_l ul li:nth-child(1){border-bottom: 1px solid #665e57}
.shopNew_l ul li:nth-child(2){border-bottom: 1px solid #665e57}
.shopNew_l ul li:nth-child(3){border-bottom: 1px solid #665e57}
.shopNew_l ul li a{font-size: 12px;color: #333;text-align: center;display: block;height: 82px;margin-top: 15px;}
.shopNew_l ul li a i{display: block;margin-bottom: 5px;}
.shopNew_l ul li a:hover{color: #fff;}
.shopNew_r{width: 978px;height: 170px;float: left;background: #fff;}
.shopNew_r ul li{width: 316.6px;height: 170px;float: left;margin-right: 14px;}
.shopNew_r ul li:nth-child(3n){margin-right: 0px;}
.bg1{background: url(../images/bg1.jpg);background-size: 100%;}
.bg2{background: url(../images/bg2.jpg);background-size: 100%;}
.bg3{background: url(../images/bg3.jpg);background-size: 100%;}

/* coupon */
.coupon{width: 1226px;height: 438px;margin: 0 auto;position: relative;}
.coupon_hd{width: 1226px;height: 58px;background: #fafafa;background: #fafafa}
.coupon_hd h2{font-size: 22px;font-weight: 300;color: #333;margin: 0;line-height: 58px;}
.coupon_hd .coupon_hd_more{position: absolute;right: 30px;top: 17px;text-align: center;}
.coupon_hd_more a{display: inline-block; width: 24px;height: 14px;font-size: 14px;line-height: 14px;color: #e0e0e0;padding: 4px 3px;border: 1px solid #e0e0e0;}
.coupon .coupon_bd{width: 1226px;margin: 0 auto;overflow: hidden;}
.coupon .coupon_bd_l{width: 234px;height: 340px;text-align: center; margin-right: 14px;background: #f1eded; float: left;border-top: 1px solid #2196f3;}
.coupon .coupon_bd_r{width: 978px;height: 340px;float: left;text-align: center;}
.coupon .coupon_bd_l .coupon_l_time{width: 100%;font-size: 22px;color: #ef3a3b;text-align: center;margin-top: 59px;font-weight: bold;}
.coupon .coupon_bd_l .coupon_flash{display: block;width: 180px;color: #ef3a3b;margin: 25px auto;}
.coupon .coupon_bd_l>p{color: #757575;font-size: 15px;text-align: center;margin: 10px auto 5px;}
.coupon .coupon_div{width: 168px;margin: 30px auto 0;}
.coupon .coupon_00{width: 46px;height: 46px;color: #fff;background: #605751;line-height: 46px;font-size: 24px;float: left;}
.coupon .coupon_m{width: 15px;height: 46px;line-height: 46px; font-size: 26px;float: left;color: #605751;}
.coupon_bd_r ul li{width: 234px;height: 340px;margin-right: 14px;float: left;position: relative;background: #fafafa;}
.coupon_bd_r .coupon_color1:last-child{margin-right: 0px;}
.coupon_bd_r .coupon_bd_r1{width: 64px;height: 20px;line-height: 20px; position: absolute;text-align: center;color: #fff;background: #e53935;top: 0px;left: 85px;
font-size: 12px;}
.coupon_bd_r .coupon_bd_r_a{display: block; width: 160px;margin: 40px auto 22px;}
.coupon_bd_r .coupon_bd_r_a img{width: 100%;}
.coupon_bd_r>ul>li>h3{font-size: 14px;font-weight: 400;color: #212121;margin: 0px auto 5px;}
.coupon_bd_r .coupon_bd_r_p1{font-size: 12px;margin: 0 auto 10px;color: #b0b0b0;}
.coupon_bd_r .coupon_bd_r_p2 span{font-size: 14px;color: #ff6700;}
.coupon_bd_r .coupon_bd_r_p2 del{font-size: 14px;color: #b0b0b0;}
.coupon_bd_r > ul > li:nth-child(1){border-top: 1px solid #ffac13}
.coupon_bd_r > ul > li:nth-child(2){border-top: 1px solid #83c44e}
.coupon_bd_r > ul > li:nth-child(3){border-top: 1px solid #2196f3}
.coupon_bd_r > ul > li:nth-child(4){border-top: 1px solid #e53935;margin-right: 0px;}

/* content_img */
.content_img1{width: 1226px;height: 120px;margin: 0px auto 40px;background: url(../images/miphone.jpg);overflow: hidden;background-size: 100%;}
.content_img{width: 1226px;height: 120px; margin: 36px auto 40px;background: url(../images/center_img.jpg);overflow: hidden;background-size: 100%;}
.content_img2{width: 1226px;height: 120px; margin: 40px auto;background: url(../images/content_ai.jpg);overflow: hidden;background-size: 100%;}
.content_img_elec{width: 100%;margin: 0 auto;overflow: hidden; background: #f5f5f5;}

/* content_phone */
.content_phone{width: 100%;height: 672px;margin: 0 auto;background: #f5f5f5;}
.con_ph_con{width: 1226px;height: 686px;margin: 0 auto;}
.phone_hd{width: 1226px;height: 58px;margin: 0 auto;position: relative;}
.phone_hd h2{font-size: 22px;font-weight: 300;color: #333;margin: 0;line-height: 58px;}
.phone_hd .phone_more a{color: #424242;font-size: 12px;}
.con_ph_con .phone_more{position: absolute;top: 20px;right: 20px;color: #333;}
.phone_bd_l{width: 234px;height: 614px;float: left; background: url(../images/phone_l.jpg);background-size: 100%;}
.phone_bd_r{width: 992px;height: 614px;float: left;text-align: center;}
.phone_bd_r ul li{width: 234px;height:300px;margin: 0 0 14px 14px;float: left;background: #fff;position: relative;}
.phone_bd_r .phone_color1:nth-child(4n){margin-right: 0px;}
.phone_bd_r .phone_bd_r1{width: 64px;height: 20px;line-height: 20px; position: absolute;text-align: center;color: #fff;background: #83c44e;top: 0px;left: 85px;
font-size: 12px;}
.phone_bd_r .phone_bd_r_a{display: block; width: 160px;margin: 25px auto 22px;}
.phone_bd_r .phone_bd_r_a img{width: 100%;}
.phone_bd_r>ul>li>h3{font-size: 14px;font-weight: 400;color: #212121;margin: 0px auto 5px;}
.phone_bd_r .phone_bd_r_p1{font-size: 12px;margin: 0 auto 10px;color: #b0b0b0;}
.phone_bd_r .phone_bd_r_p2 span{font-size: 14px;color: #ff6700;}
.phone_bd_r .phone_bd_r_p2 del{font-size: 14px;color: #b0b0b0;}

/* content_elec */
.content_elec{width: 100%;height: 686px;margin: 0 auto;background: #f5f5f5;}
.con_elec_con{width: 1226px;height: 672px;margin: 0 auto;}
.elec_hd{width: 1226px;height: 58px;margin: 0 auto;position: relative;}
.elec_hd>h2{font-size: 22px;font-weight: 300;color: #333;margin: 0;line-height: 58px;}
.elec_hd_r{position: absolute;top: 20px;right: 0px;}
.elec_hd_r ul li{float: left;margin-left: 30px;padding-bottom: 5px;}
.elec_hd_r ul li:hover{border-bottom: 2px solid #ff6700;}
.elec_hd_r ul li:hover a{color: #ff6700;}
.elec_hd_r ul li a{color: #333;font-size: 15px;letter-spacing: 1px;}
.elec_bd{width: 1226px;margin: 0 auto;}
.elec_bd .elec_l{float: left;}
.elec_bd .elec_l ul li{width: 234px;height: 300px;margin-bottom: 14px;background: #e9e7e2;}
.elec_bd .elec_l ul li:nth-child(1n){background: url(../images/elec_l1.jpg);background-size: 100%;}
.elec_bd .elec_l ul li:nth-child(2n){background: url(../images/elec_l2.jpg);background-size: 100%;}
.elec_bd .elec_r{width: 992px;float: left;}
.elec_bd .elec_r ul li{width: 234px;height: 300px;margin: 0 0 14px 14px;float: left; background: #fff;}
.elec_more{width: 234px;}
.elec_more li{width: 234px;height: 143px !important;margin-left: 0px !important;}
.elec_more li:nth-child(1){margin-bottom: 14px;}
.elec_r{width: 992px;height: 614px;float: left;text-align: center;}
.elec_r ul li{width: 234px;height:300px;margin: 0 0 14px 14px;float: left;background: #fff;position: relative;}
.elec_r .elec_color1:nth-child(4n){margin-right: 0px;}
.elec_r .elec_bd_r1{width: 64px;height: 20px;line-height: 20px; position: absolute;text-align: center;color: #fff;background: #83c44e;top: 0px;left: 85px;
font-size: 12px;}
.elec_r .elec_bd_r_a{display: block; width: 160px;margin: 25px auto 22px;}
.elec_r .elec_bd_r_a img{width: 100%;}
.elec_r>ul>li>h3{font-size: 14px;font-weight: 400;color: #212121;margin: 0px auto 5px;}
.elec_r .elec_bd_r_p1{font-size: 12px;margin: 0 auto 10px;color: #b0b0b0;}
.elec_r .elec_bd_r_p2 span{font-size: 14px;color: #ff6700;}
.elec_r .elec_bd_r_p2 del{font-size: 14px;color: #b0b0b0;}
.elec_more_dl{width: 234px;height: 143px;}
.elec_r ul li:last-child{background: #f5f5f5;}
.elec_more_dl{background: #fff;}
.elec_more_dl dt{width: 94px;float: left;overflow: hidden;margin:50px 0 0 35px;text-align: left}
.elec_more_dl dt h3{color: #212121;font-weight: 400;font-size: 14px;height: 16px;line-height: 16px; overflow: hidden;}
.elec_more_dl dt p{color: #ff6700;}
.elec_more_dl dd{width: 88px;margin: 0 auto;float: left;margin-top: 30px;}
.elec_more_dl dd a{display: block; width: 88px;height: 88px;font-size: 30px;line-height: 88px; color: #ff6700;}
.elec_more_dl dd img{width: 100%;}
.elec_review{width: 234px;height: 75px; background: #ff6700;position: absolute;bottom: 0px;left: 0px;display: none;}
.elec_review_p1{width: 174px;height: 36px;margin: 0 auto;z-index: 10; font-size: 12px;text-align: left;color: #fff;margin-top: 9px;}
.elec_review_p2{width: 174px;height: 36px;margin: 0 auto;font-size: 12px;text-align: left; color: rgba(255,255,255,0.6);}
/* content_ai */
.content_ai{width: 100%;height: 672px;margin: 0 auto;background: #f5f5f5;padding-bottom: 60px;}
.con_ai_con{width: 1226px;height: 672px;margin: 0 auto;}
.ai_hd{width: 1226px;height: 58px;margin: 0 auto;position: relative;}
.ai_hd h2{font-size: 22px;font-weight: 400;color: #333;margin: 0;line-height: 58px;}
.ai_hd_r{position: absolute;top: 20px;right: 0px;}
.ai_hd_r ul li{float: left;margin-left: 30px; padding-bottom: 5px;}
.ai_hd_r ul li a{color: #333;font-size: 15px;letter-spacing: 1px;}
.ai_hd_r ul li:hover{border-bottom: 2px solid #ff6700;}
.ai_hd_r ul li:hover a{color: #ff6700;}
.ai_bd{width: 1226px;margin: 0 auto;}
.ai_bd .ai_l{float: left;}
.ai_bd .ai_l ul li{width: 234px;height: 300px;margin-bottom: 14px;background: #e9e7e2;}
.ai_bd .ai_l ul li:nth-child(1n){background: url(../images/ai_r2.jpg);background-size: 100%;}
.ai_bd .ai_l ul li:nth-child(2n){background: url(../images/ai_r1.jpg);background-size: 100%;}
.ai_bd .ai_r{width: 992px;float: left;}
.ai_bd .ai_r ul li{width: 234px;height: 300px;margin: 0 0 14px 14px;float: left;}
.ai_more{width: 234px;}
.ai_more li{width: 234px;height: 143px !important;background: #faeceb !important;margin-left: 0px !important;}
.ai_more li:nth-child(1){margin-bottom: 14px;}
.ai_r{width: 992px;height: 614px;float: left;text-align: center;}
.ai_r ul li{width: 234px;height:300px;margin: 0 0 14px 14px;float: left;background: #fff;position: relative;}
.ai_r .ai_color1:nth-child(4n){margin-right: 0px;}
.ai_r .ai_bd_r1{width: 64px;height: 20px;line-height: 20px; position: absolute;text-align: center;color: #fff;background: #83c44e;top: 0px;left: 85px;
font-size: 12px;}
.ai_r .ai_bd_r_a{display: block; width: 160px;margin: 25px auto 22px;}
.ai_r .ai_bd_r_a img{width: 100%;}
.ai_r>ul>li>h3{font-size: 14px;font-weight: 400;color: #212121;margin: 0px auto 5px;}
.ai_r .ai_bd_r_p1{font-size: 12px;margin: 0 auto 10px;color: #b0b0b0;}
.ai_r .ai_bd_r_p2 span{font-size: 14px;color: #ff6700;}
.ai_r .ai_bd_r_p2 del{font-size: 14px;color: #b0b0b0;}
.ai_more_dl{width: 234px;height: 143px;}
.ai_r ul li:last-child{background: #f5f5f5;}
.ai_more_dl{background: #fff;}
.ai_more_dl dt{width: 94px;float: left;overflow: hidden;margin:50px 0 0 35px;text-align: left}
.ai_more_dl dt h3{color: #212121;font-weight: 400;font-size: 14px;height: 16px;line-height: 16px; overflow: hidden;}
.ai_more_dl dt p{color: #ff6700;}
.ai_more_dl dd{width: 88px;margin: 0 auto;float: left;margin-top: 30px;}
.ai_more_dl dd a{display: block; width: 88px;height: 88px;font-size: 30px;line-height: 88px; color: #ff6700;}
.ai_more_dl dd img{width: 100%;}



/* foot */
.foot{width: 100%;height: 270px;background: #fff;}
.foot_hd{width: 1226px;height: 25px;margin: 0 auto;padding: 25px 0;border-bottom: 1px solid #ccc;}
.foot_hd ul li{width: 244.4px;height: 25px;line-height: 25px;border-right: 1px solid #ccc;float: left;text-align: center;}
.foot_hd ul li:last-child{border-right: 0px;}
.foot_hd ul li a{color: #333;font-size: 18px;text-decoration: none;display: inline-block;height: 25px;line-height: 25px;}
.foot_hd ul li a:hover{color: #ff6700;}
.foot_hd i{margin-right: 10px;opacity: 0.9;}
.foot_bd{width: 1226px;padding: 40px 0;margin: 0 auto;}
.foot_bd_dl{width: 160px;height: 112px;float: left;margin: 0;}
.foot_bd_dt{font-size: 14px;line-height: 14px;margin: 0 0 25px;color: #424242;}
.foot_bd dl dd{color: #333;margin-top: 10px;font-size: 12px;color: #757575;}
.foot_bd dl dd:hover{color: #ff6700;cursor: pointer;}
.foot_r{width: 265px;height: 112px;float: left;border-left: 1px solid #ccc;text-align: center;}
.foot_r p{font-size: 22px;color: #ff6700;margin-bottom: 5px;line-height: 22px;font-weight: bold;}
.foot_r span{font-size: 12px;color: #616161;display: block; margin-bottom: 16px;}
.foot_r a{width: 118px;height: 28px;line-height: 28px;background: #fff;border: 1px solid #ff6700; display: inline-block;color: #ff6700;text-align: center;}
.foot_r a:hover{background: #ff6700;color: #fff;}
.foot_r i{margin-right: 5px;}

/* bottom */
.bottom_bg{width: 100%;margin: 0 auto;overflow: hidden;background: #f5f5f5;padding-top: 30px;padding-bottom: 30px;}
.bottom{width: 1226px;height: 122px;margin: 0 auto;}
.bottom-l{width: 57px;height: 57px;margin-right: 10px;background: url(../images/logo.png);float: left;}
.bottom-m{width: 740px;float: left;text-align: left;color: #757575;font-size: 12px;}
.bottom-m a{color: #757575;font-size: 12px;margin: 0;padding: 0;display: inline-block;margin-bottom: 4px;}
.bottom-m span{margin: 0 3px;}
.bottom-m p{color: #b0b0b0;line-height: 1.4;font-size: 12px;}
.bottom-r{width: 419px;height: auto;float: left;}
.bottom-r ul li{width: 91px;height: 29px; float: right;margin-right: 3px;background: url(../images/repute.png);}
.bottom-r ul li:first-child{margin-right: 0px;}
.bottom-bd{text-align: center;font-family: "楷体";padding:30px 0;color: #b0b0b0;}
.bottom-bd>h1{font-size: 21px;font-weight: 300;}
.bottom-m a:hover{color: #ff6700;}
.bottom-m p:hover{color: #ff6700;}